.div1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
}

.div2{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    position:absolute;
    background-color: red;
    margin: 100px;
}

.div3{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    background-color: green;
}

